/* -----------------MOBILE------------------- */

.header {
  background-color: var(--inputs);
  width: 100%;
  padding: 20px 0 20px 15px;
  border-bottom: 1px solid var(--badges);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0 24px 64px;
  }
  .wrapper {
    padding-right: 40px;
  }
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 50%;
  }
}
