/* -----------------MOBILE------------------- */
.section {
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  position: relative;
  height: 100%;
  gap: 8px;
}

.listBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.btn {
  padding-bottom: 15px;
}

.filterBtn {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 6px;
  cursor: pointer;
  width: 80px;
  margin-left: auto;
  font-size: 12px;
}

.filterBtn:hover {
  color: var(--button-hover);
}
/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 64px;
    flex-direction: row;
    gap: 20px;
  }
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1024px) {
  .section {
    padding: 42px 46px;
    display: flex;
    flex-direction: row;
    gap: 34px;
  }
  .listBox {
    flex: 1;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 48px 64px;
    gap: 64px;
  }

  .listBox {
    width: 100%;
    gap: 40px;
  }

  .btn {
    padding-bottom: 52px;
  }
}
