/* -----------------MOBILE------------------- */
.section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.listBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.btn {
  padding-bottom: 52px;
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 64px;
  }
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1024px) {
  .section {
    padding: 42px 46px;
    flex-direction: row;
    gap: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 48px 64px;
    gap: 64px;
  }

  .listBox {
    /* width: 888px; */
    width: 100%;
  }
}
