/* -----------------MOBILE------------------- */
.wrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 12px;
}

.title {
  font-weight: 600;
  line-height: 1.2;
  color: var(--main);
}

.list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 4px;
  width: 54px;
  height: 50px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.isActive {
  border-color: var(--button);
}

.label {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
  }

  .list {
    column-gap: 12px;
  }
  .item {
    padding: 16px 18px;
    width: 112px;
    height: 96px;
    gap: 8px;
  }
  .wrap {
    font-size: 16px;
    gap: 16px;
  }
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
  .wrap {
    gap: 24px;
    max-width: 360px;
  }
}
