.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}
.line {
  border: 1px solid var(--gray-light);
}

.list {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.isActive {
  border-color: var(--button);
}
