.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formInput {
  border-radius: 12px;
  padding: 18px;
  height: 60px;
  background: var(--inputs);
  border: none;
  width: 527px;
  transition: border 0.3s;
}

.textarea {
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  height: 118px;
  background: var(--inputs);
  border: none;
  width: 527px;
  resize: none;
}

.formInput::placeholder {
  line-height: 1.5;
  color: var(--gray);
}
.textarea::placeholder {
  line-height: 1.5;
  color: var(--gray);
}

.button {
  display: flex;
  justify-content: center;
}

.inputContainer {
  position: relative;
  width: 527px;
}
.errorMessage {
  color: var(--button);
  position: absolute;
  bottom: -11px;
  right: 0;
  font-size: 10px;
}

.errorInput {
  border: 1px solid var(--button);
}

/* div.react-datepicker {
  width: 276px;
  height: 284px;
}

.react-datepicker .react-datepicker__header {
  background-color: var(--white);
}
.today {
  background-color: #007bff; 
  color: white; 
} */
