.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 30px;
  width: 90px;
}

.text {
  font-size: 16px;
  line-height: 1.14;
  color: var(--main);
  margin-bottom: auto;
}

.loader {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

@media screen and (min-width: 768px) {
  .box {
    height: 45px;
    width: 130px;
  }
  .text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .box {
    height: 50px;
    width: 150px;
  }
  .text {
    font-size: 28px;
  }
}
