/* -----------------MOBILE------------------- */
.wraper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}

.list {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
  font-weight: 500;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
  .wraper {
    gap: 24px;
  }
  .title {
    font-size: 20px;
  }
  .list {
    gap: 16px;
    font-size: 16px;
  }
}
