.wraper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 20px;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.5;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
