/* -----------------MOBILE------------------- */
.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 53px;
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .container {
    padding-top: 72px;
  }
}
