/* -----------------MOBILE------------------- */
.section {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  font-size: 12px;
}
.link {
  position: absolute;
  font-size: 11px;
  top: 3px;
  left: 3px;
  display: flex;
  flex-direction: row;
  color: var(--button);
  align-items: center;
  gap: 1px;
}

.link:hover .icon {
  transform: scale(1.4);
}
.link:hover {
  color: var(--button-hover);
  text-decoration: underline;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.topInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
}

.ratingLoctionWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.ratingLocationBoxes {
  display: flex;
  flex-direction: row;
  gap: 4px;
  line-height: 150%;
}

.rating {
  text-decoration: underline;
}

.description {
  line-height: 150%;
  color: var(--text);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottombox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
  .section {
    padding: 48px 64px 80px 64px;
    gap: 60px;
    font-size: 16px;
  }
  .link {
    top: 17px;
    left: 64px;
    font-size: 14px;
  }
  .topInfoBox {
    gap: 8px;
  }
  .top {
    gap: 28px;
  }
  .title {
    font-size: 24px;
  }
  .ratingLoctionWrapper {
    padding-bottom: 8px;
  }

  .bottom {
    gap: 44px;
  }
  .bottombox {
    flex-direction: row;
    gap: 40px;
  }
}
