.list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
}

.item {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  background-color: var(--gray-light);
}
.img {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
}
