.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  padding-bottom: 8px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.list {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.input {
  display: none;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.isActive {
  border-color: var(--button);
}
