/* -----------------MOBILE------------------- */
.box {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 15px;
  width: 290px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.text {
  line-height: 1.5;
  color: var(--gray);
}

.button {
  display: flex;
  justify-content: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputContainer {
  position: relative;
  width: 258px;
}

.formInput {
  padding: 10px;
  width: 258px;
  border-radius: 12px;
  background: var(--inputs);
  border: none;
  transition: border 0.3s;
}

.textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: 95px;
  background: var(--inputs);
  border: none;
  resize: none;
}

.formInput::placeholder {
  line-height: 1.5;
  color: var(--gray);
}
.textarea::placeholder {
  line-height: 1.5;
  color: var(--gray);
}

.button {
  display: flex;
  justify-content: center;
}

/* .errorMessage {
  color: var(--button);
  position: absolute;
  bottom: -9px;
  right: 0;
  font-size: 8px;
} */

.errorInput {
  border: 1.5px solid var(--button);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
  .box {
    padding: 44px;
    width: 641px;
    height: 588px;
    gap: 24px;
  }
  .form {
    gap: 14px;
  }

  .formInput {
    padding: 18px;
    height: 60px;
    width: 527px;
  }
  .title {
    font-size: 20px;
  }
  .inputContainer {
    width: 527px;
  }
  .textarea {
    padding: 18px;
    height: 118px;
    width: 527px;
  }

  /* .errorMessage {
    bottom: -11px;
    font-size: 10px;
  } */

  .button {
    padding-top: 10px;
  }
  .button button {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background-color: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
  }
}
