/* -----------------MOBILE------------------- */
.box {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  /* padding: 44px; */
  /* width: 641px; */
  /* height: 588px; */
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  line-height: 1.5;
  color: var(--gray);
}

.button {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formInput {
  border-radius: 12px;
  padding: 18px;
  height: 60px;
  background: var(--inputs);
  border: none;
  width: 527px;
  transition: border 0.3s;
}

.textarea {
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  height: 118px;
  background: var(--inputs);
  border: none;
  width: 527px;
  resize: none;
}

.formInput::placeholder {
  line-height: 1.5;
  color: var(--gray);
}
.textarea::placeholder {
  line-height: 1.5;
  color: var(--gray);
}

.button {
  display: flex;
  justify-content: center;
}

.inputContainer {
  position: relative;
  width: 527px;
}
.errorMessage {
  color: var(--button);
  position: absolute;
  bottom: -11px;
  right: 0;
  font-size: 10px;
}

.errorInput {
  border: 1px solid var(--button);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
}
