/* -----------------MOBILE------------------- */
.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}

.label {
  line-height: 150%;
  color: var(--gray);
}

.inputWrap {
  position: relative;
}
.input {
  border-radius: 12px;
  padding: 18px 18px 18px 46px;
  height: 56px;
  background: var(--inputs);
  border: none;
  color: var(--main);
  font-size: 16px;
  line-height: 150%;
}

.input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.icon {
  position: absolute;
  fill: var(--main);
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  padding-right: 8px;
}

.icon svg {
  fill: var(--main);
}
.input:focus .icon {
  fill: var(--main);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .input {
    width: 360px;
  }
}
