/* -----------------MOBILE------------------- */
.wrap {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* gap: 24px; */
  gap: 7px;
  /* justify-content: center; */
  align-items: center;
}

.photo {
  border-radius: 10px;
  /* width: 292px;
  height: 320px; */
  width: 250px;
  height: 180px;
  object-fit: cover;
  /* object-position: 80% center; */
  background-color: var(--gray-light);
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  width: 250px;
  /* gap: 24px; */
}
.topWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.titlePriceWrap {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  /* width: 524px; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  /* font-size: 24px; */
  line-height: 133%;
  color: var(--main);
  /* max-width: 339px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceBox {
  display: flex;
  flex-direction: row;
  /* gap: 13px; */
  gap: 5px;
}

.ratingLocationBoxes {
  display: flex;
  flex-direction: row;
  gap: 4px;
  line-height: 150%;
}

.ratingLocationWrapper {
  display: flex;
  flex-direction: row;
  /* gap: 16px; */
  justify-content: space-between;
}

.rating {
  text-decoration: underline;
}
.description {
  /* width: 525px; */
  /* padding-right: 20px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
  color: var(--text);
  overflow-wrap: normal;
  word-break: break-word;
}

.link {
  /* padding: 16px 40px; */
  border-radius: 200px;
  border: none;
  padding: 8px 10px;
  width: 85px;
  /* width: 166px; */
  /* height: 56px; */
  background: var(--button);
  cursor: pointer;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  margin: 0 auto;
}

.link:hover {
  background-color: var(--button-hover);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
}

/* -----------------DESKTOP------------------- */
@media screen and (min-width: 1440px) {
}
