/* -----------------MOBILE------------------- */
.wrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.photo {
  border-radius: 10px;
  width: 250px;
  height: 180px;
  object-fit: cover;
  background-color: var(--gray-light);
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  width: 250px;
}
.topInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.titlePriceWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  line-height: 133%;
  color: var(--main);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceBox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.priceBox svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.ratingLocationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratingLocationBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  line-height: 150%;
}

.rating {
  text-decoration: underline;
}
.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
  color: var(--text);
  overflow-wrap: normal;
  word-break: break-word;
}

.link {
  border-radius: 200px;
  border: none;
  padding: 8px 10px;
  width: 85px;
  background: var(--button);
  cursor: pointer;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  margin: 0 auto;
}

.link:hover {
  background-color: var(--button-hover);
}

/* -----------------TABLET------------------- */
@media screen and (min-width: 768px) {
  .wrap {
    flex-direction: row;
    align-items: flex-start;
  }
  .photo {
    object-position: 80% center;
  }
  .link {
    margin-left: 0;
  }
  .infoBox {
    flex: 1;
  }
  .ratingLocationWrapper {
    gap: 16px;
    justify-content: flex-start;
  }
}

/* -----------------DESKTOP------------------- */

@media screen and (min-width: 1440px) {
  .wrap {
    gap: 24px;
  }

  .photo {
    width: 292px;
    height: 320px;
  }

  .infoBox {
    flex: 1;
    gap: 24px;
    font-size: 16px;
  }
  .title {
    font-size: 24px;
    max-width: 339px;
  }

  .priceBox {
    gap: 13px;
  }
  .titlePriceWrap {
    width: 524px;
  }

  .description {
    width: 525px;
    padding-right: 20px;
  }
  .link {
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    font-size: 16px;
  }
}
