.background {
  background-image: url("../../assets/images/backgroundImage.jpg");
  width: 100%;
  position: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 64px;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  height: 100vh;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 571px;
}
.title {
  display: block;
  line-height: 67%;
  color: var(--inputs);
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.02em;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
}

.button {
  border-radius: 200px;
  padding: 16px 48.5px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
