/* ------------------MOBILE------------------ */

.background {
  background-image: url("../../assets/images/backgroundImage.jpg");
  width: 100%;
  position: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  height: 100vh;
  position: fixed;
}
.wrapperText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  color: var(--inputs);
  font-size: 14px;
  font-weight: 600;
}
.title {
  line-height: 67%;
  font-size: 22px;
  letter-spacing: 0.02em;
}

.link {
  color: var(--button);
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 0 64px;
  }
  .wrapperText {
    gap: 24px;
    padding: 20px;
    font-size: 20px;
  }
  .title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapperText {
    font-size: 24px;
  }
  .title {
    font-size: 48px;
  }
}
